{{#section 'head'}}
<link rel="canonical" href="/story" />
<script async custom-element="amp-story" src="https://cdn.ampproject.org/v0/amp-story-1.0.js"></script>
<title>{{template.title}}</title>
{{/section}}

<amp-story poster-portrait-src='{{template.posterPortraitSrc}}' publisher='{{template.publisher}}' publisher-logo-src='{{template.publisherLogoSrc}}' title='{{template.title}}' standalone supports-landscape>
    {{#pages}}
    <amp-story-page id={{title}}>
        {{#layers}}
        <amp-story-grid-layer 
            {{#if (or style ../../template.globalStyle)}}
                style="{{../../template.globalStyle}} {{style}}" 
            {{/if}}
            {{#if template}}
                template="{{template}}" 
            {{else}}
                template="vertical"
            {{/if}}>
            {{#if elements}}
                {{#elements}}
                    <{{tag}} 
                    {{#if style}}
                        style="{{style}}"
                    {{/if}}
                    {{#if src}}
                        src="{{src}}"
                    {{/if}}
                    {{#if href}}
                        href="{{href}}"
                    {{/if}}
                    {{#if width}}
                        width="{{width}}"
                    {{/if}}
                    {{#if height}}
                        height="{{height}}"
                    {{/if}}
                    {{#if layout}}
                        layout="{{layout}}"
                    {{/if}}
                    {{#if grid-area}}
                        grid-area="{{grid-area}}"
                    {{/if}}
                    {{#if align-self}}
                        align-self="{{align-self}}"
                    {{/if}}
                    {{#if justify-self}}
                        justify-self="{{justify-self}}"
                    {{/if}}
                    >
                        {{value}}
                    </{{tag}}>
                {{/elements}}
            {{/if}}
        </amp-story-grid-layer>
        {{/layers}}
    </amp-story-page>
    {{/pages}}
</amp-story>