{{#section 'head'}}
<link rel="canonical" href="/story" />
<script async custom-element="amp-story" src="https://cdn.ampproject.org/v0/amp-story-1.0.js"></script>
<title>{{template.title}}</title>

{{/section}}
<amp-story poster-portrait-src='{{template.posterPortraitSrc}}' publisher='{{template.publisher}}' publisher-logo-src='{{template.publisherLogoSrc}}' title='{{template.title}}' standalone supports-landscape>
    {{#each pages as |page|}}
    <amp-story-page id={{page.title}}>
        {{#each page.layers as |layer|}}
        <amp-story-grid-layer 
            {{#if (or layer.style ../../template.globalStyle)}}
                style="{{../../template.globalStyle}} {{layer.style}}"
            {{/if}}
            {{#if layer.template}}
                template="{{layer.template}}"
            {{else}}
                template="vertical"
            {{/if}}>
            {{{layer.content}}}
        </amp-story-grid-layer>
        {{/each}}
    </amp-story-page>
    {{/each}}
</amp-story>